# OS & Editor
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class

# Packaging / editable install artifacts
*.egg-info/
build/
dist/

# Virtual Environments
venv/
.venv/
env/
ENV/

# Large zkML Artifacts (Proving Keys & Compiled Circuits)
zk/keys/pk.key
zk/circuit/*.compiled

# Contracts & Foundry Build Artifacts
contracts/cache/
contracts/out/

ml/models/onnx/data/cv_model_v1/input_*.json
zk/proofs/proof_*.json
zk/proofs/witness_*.json

ml/runs/